@model CLMS.Model.UserModel

@{
    ViewBag.Title = ViewDatas.GetInstance().GetSysName() + " | 用户管理";
    ViewBag.MainTitle = "系统设置";
    ViewBag.SecondTitle = "用户管理";
    ViewBag.Menu1 = "menuSys";
    ViewBag.Menu2 = "menuSysUser";
    //Layout = "";
}
@section CSSs{
    <link href="/plugins/kindeditor/default/default.css" rel="stylesheet" />
    <link href="/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="/plugins/bootstrap-submenu/css/bootstrap-submenu.css" rel="stylesheet" />
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">用户信息管理-编辑</h3>
        <div class="box-tools">
            <a type="button" class="btn btn-default pull-right" href="javascript:history.go(-1)">返回</a>
        </div>
    </div>
    <form id="addForm" role="form">
        <div class="box-body">
            <div id="alertDiv"></div>
            <div class="row">
                @Html.HiddenFor(m => m.Id)
                <div class="form-group  col-md-6">
                    <label for="Username">
                        用户名称*
                    </label>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control required", @placeholder = "用户名称", @readonly = "readonly" })
                </div>

                @*<div class="form-group  col-md-6 ">
                        <label for="Password">
                            密码*
                        </label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control required ", @maxlength = "20", @placeholder = "请输入密码" })
                    </div>*@

                <div class="form-group  col-md-6">
                    <label for="RealName">
                        真实姓名
                    </label>
                    @Html.TextBoxFor(m => m.RealName, new { @class = "form-control", @placeholder = "真实姓名" })
                </div>

                <div class="form-group  col-md-6">
                    <label for="Email">
                        Email
                    </label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control email", @placeholder = "邮箱" })
                    @*@Html.DropDownListFor(m => m.Email, ViewDatas.GetInstance().GetProductTypeSelect(), "未指定", new { @class = "form-control required" })*@
                </div>

                <div class="form-group  col-md-6">
                    <label for="Telphone">
                        联系电话
                    </label>
                    @Html.TextBoxFor(m => m.Telphone, new { @class = "form-control digits", @placeholder = "联系电话" })
                </div>

                <div class="form-group  col-md-6">
                    <label for="RoleList">
                        角色
                    </label>
                    @Html.DropDownListFor(m => m.RoleId, ViewDatas.GetInstance().GetRoleList(), "请选择", new { @class = "form-control required" })
                </div>

                <div class="form-group  col-md-6">
                    <label for="RoleList">
                        组织机构*
                    </label>
                    @Html.DropDownList("OrganId", ViewDatas.GetInstance().GetOrganizationList(), "选择组织机构", new { @Id = "OrganizationId", @class = "form-control required", @name = "OrganId" })
                </div>

            </div>
            <div class="box-footer">
                <a type="button" class="btn btn-default pull-right" href="javascript:Close();">取消</a>
                <button type="button" style="margin-right: 10px" onclick="ResetPass();" class="btn btn-primary pull-right">
                    重置密码
                </button>
                <button type="button" style="margin-right: 10px" onclick="SubmitForm();" class="btn btn-primary pull-right">
                    提交
                </button>
            </div>

        </div>
    </form>
    <!-- /.box-body -->
</div>
@section javascripts{
    <script src="/plugins/validate/jquery.validate.min.js"></script>
    <script src="/plugins/validate/messages_zh.min.js"></script>
    <script src="/plugins/plupload/plupload.full.min.js"></script>
    <script src="/plugins/kindeditor/kindeditor-all.js"></script>
    <script src="/plugins/select2/js/select2.js"></script>
    <script src="/plugins/bootstrap-submenu/js/bootstrap-submenu.js"></script>

    <script>
        var editor;
        StartValidate('addForm');
        $("#OrganizationId").select2();

        $('[data-submenu]').submenupicker();

        function ResetPass() {

            $.ajax({
                type: 'POST',
                url: "/User/ResetPassword",
                data: {id:@Model.Id},
                dataType: 'json',
                success: function (data) {
                    if (data.State == true) {
                        layer.msg('重置密码成功！');
                        setTimeout(Close, 1000);
                    }
                    else {
                        var alertDiv = GetAlertDiv(data.Message, 'alert-danger animated slideInUp');
                        $('#alertDiv').append(alertDiv);

                    }
                },
                error: function () {
                    var alertDiv = GetAlertDiv('网络错误，请重试！', 'alert-danger animated slideInUp');
                    $('#alertDiv').append(alertDiv);
                }
            });
        }

        function SubmitForm() {

            if ($('#addForm').valid()) {
                $('#alertDiv').empty();

                console.log($('#addForm').serialize());

                $.ajax({
                    type: 'POST',
                    url: "/User/Edit",
                    data: $('#addForm').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.State == true) {
                            layer.msg('修改成功！');
                            setTimeout(Close, 1000);
                        }
                        else {
                            var alertDiv = GetAlertDiv(data.Message, 'alert-danger animated slideInUp');
                            $('#alertDiv').append(alertDiv);

                        }
                    },
                    error: function () {
                        var alertDiv = GetAlertDiv('网络错误，请重试！', 'alert-danger animated slideInUp');
                        $('#alertDiv').append(alertDiv);
                    }
                });
            }
        }

        function Close() {
            location.href = '/User/Index';
        }

        function OnSelect(id,name)
        {

            $('#txtOrganName').val(name);
            $('#hideOrganId').val(id);
        }
    </script>


}

